<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W897T84');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">

    <meta name="description" content="Hey I am Krish, a 15 year old developer who loves building things with code, interested in startups, tech and artificial intelligence">
    <link rel="icon" href="https://i.ibb.co/y4kpMJf/Cartoonify-2.png" type="image/x-icon">

    <meta name="robots" content="index, follow">
    
    <meta name="og:title" property="og:title" content="Krish Nerkar | About" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Hey I am Krish, a 15 year old developer who loves building things with code, interested in startups, tech and artificial intelligence" />
    <meta property="og:image" content="https://i.ibb.co/5T25CMd/Krish-Nerkar.png" />
    <meta property="og:image:width" content="1600">
    <meta property="og:image:height" content="627">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nerkar_krish" />
    <meta name="twitter:creator" content="@nerkar_krish"/>
    
    <link rel="canonical" href="https://krish-nerkar.ml/about" />

    <title>Krish Nerkar | About</title>

    
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W897T84"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="header">
    
        <div class="links">
            <a href="/">home</a>
            <span>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</span>
            <a href="/projects">projects</a>
            <span‏‏>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</span>
                <a href="/blog">blog</a>
        </div>
    
        <h1 class="heading">
            About
        </h1>
    
        <h2 class = "about">
            Hey, I am Krish, a software developer based in Pune, India! I started out my coding journey 3 years ago with
            visual scripting languages such as <a class = "un-links" rel="noopener noreferrer" target="_blank" href = "https://scratch.mit.edu/">scratch</a> and 
            <a class = "un-links" rel="noopener noreferrer" target="_blank" href="https://code.org">code.org</a>. I developed my core logical problem solving
            abilities by building projects like <a class="about-links" rel="noopener noreferrer" target="_blank" href="https://scratch.mit.edu/projects/171624854/">
            tic-tac-toe</a> game against the computer in scratch and an <a class="about-links" rel="noopener noreferrer" target="_blank" href="https://studio.code.org/projects/applab/vXGmrtr_TL9oTsHh0JaOst9smBnpIuOGLm9-qCh-HKc">
            e-commerce application</a> to sell books in code.org which 
            was used during an exhibition and generated ~₹5000 in revenue in a single day!

            <br><br>

            Then I started exploring the field of computer science. I have tried everything like hardware projects with arduino and rpi, game development, 
            web development, android development, machine learning etc. But the thing which I stuck to was Machine Learning.

            <br><br>
            
            Currently I am just working on my skills each and everyday by trying out new things, participating in hackthons, 
            competetions, etc. Also speaking of which, I came RANK 14 all over India in a coding competetion for all ages called
            <a class="about-links" rel="noopener noreferrer" target="_blank" href="https://isb.alienbrains.in/2021">
            India's Super Brain</a> where around 3500+ people participated!! 

            <br><br>

            Now I am on a journey of <a class = "about-links" rel="noopener noreferrer" target="_blank" href="/projects">building things with code</a>, 
            and exploring the huge field of Deep Learning. In the future, my plans include starting a tech startup trying to revolutionize
            any field with artificial intelligence. I can't say which because things are changing quite fast and I can't predict the
            progress humans might make in the next 8-10 years.

        </h2>
        
    </div>

   
</body>
</html>