<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@350;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class = "main">

        <h1>
            Hi,
            <br>
            I'm <span class="highlight">Krish</span>
        </h1>

        <h2>
            A 15 y/o student who loves to teach computers
            how to think and build stuff with code through python & java.
        </h2>
        
        <button onclick = "location.href='/projects'" type="button" class="button button-start">
            Projects
        </button>

        <button onclick = "location.href='/blog'" type="button" style="margin-left: 1.2em;" class="button button-start">
            Blog
        </button>

        <button onclick = "location.href='/about'" type="button" class="button button-last button-start">
            About
        </button>

        <br>
        <br><br><br>

        <button onclick= "window.open('https:\/\/github.com\/Krish-Nerkar\/');" class="social">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 50 50">
                <path id="iconmonstr-github-1"
                    d="M25,0C11.2,0,0,11.477,0,25.632A25.588,25.588,0,0,0,17.1,49.955c1.248.237,1.652-.557,1.652-1.232V43.95c-6.954,1.551-8.4-3.025-8.4-3.025-1.137-2.963-2.777-3.751-2.777-3.751-2.269-1.591.173-1.557.173-1.557a5.264,5.264,0,0,1,3.831,2.642c2.229,3.917,5.848,2.785,7.275,2.13a5.49,5.49,0,0,1,1.587-3.426c-5.552-.651-11.39-2.849-11.39-12.669a10.061,10.061,0,0,1,2.575-6.88,9.436,9.436,0,0,1,.244-6.784s2.1-.688,6.877,2.627a23.133,23.133,0,0,1,12.519,0c4.773-3.315,6.869-2.627,6.869-2.627a9.427,9.427,0,0,1,.246,6.784,10.034,10.034,0,0,1,2.573,6.88c0,9.845-5.848,12.013-11.415,12.647a6.209,6.209,0,0,1,1.715,4.746v7.034c0,.681.4,1.482,1.669,1.23A25.59,25.59,0,0,0,50,25.632C50,11.477,38.806,0,25,0Z"
                    />
            </svg>
        </button>

        <button onclick= "window.open('https:\/\/twitter.com\/nerkar_krish');" style = "margin-left: 1.4em;" class="social">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 50.261 35.845">
                <path id="iconmonstr-twitter-1"
                    d="M50.261,65.807a20.588,20.588,0,0,1-5.922,1.623,10.328,10.328,0,0,0,4.534-5.7,20.656,20.656,0,0,1-6.549,2.5,10.318,10.318,0,0,0-17.572,9.4A29.273,29.273,0,0,1,3.5,62.859,10.325,10.325,0,0,0,6.689,76.626a10.268,10.268,0,0,1-4.668-1.29,10.319,10.319,0,0,0,8.27,10.241,10.335,10.335,0,0,1-4.657.176,10.319,10.319,0,0,0,9.633,7.16A20.733,20.733,0,0,1,0,97.185a29.191,29.191,0,0,0,15.807,4.632c19.145,0,29.962-16.169,29.308-30.672a20.994,20.994,0,0,0,5.145-5.338Z"
                    transform="translate(0 -60.972)" />
            </svg>
        </button>

        <button onclick= "window.open('https:\/\/www.linkedin.com\/in\/krish-nerkar\/');" style="margin-left: 1.4em;" class="social">
            <svg class="svg-inline--fa fa-linkedin fa-w-14 fa-2x" 2idth="35", height="35"
                data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z">
                </path>
            </svg>
        </button>

        <button onclick= "window.open('mailto:krishnerkar@gmail.com');" style="margin-left: 1.4em;" class="social">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 151.233 120.986">
                <path id="Icon_material-email" data-name="Icon material-email"
                    d="M139.109,6H18.123A15.1,15.1,0,0,0,3.076,21.123L3,111.863a15.168,15.168,0,0,0,15.123,15.123H139.109a15.168,15.168,0,0,0,15.123-15.123V21.123A15.168,15.168,0,0,0,139.109,6Zm0,30.247L78.616,74.055,18.123,36.247V21.123L78.616,58.931l60.493-37.808Z"
                    transform="translate(-3 -6)" />
            </svg>
        </button>


    </div>

</body>
</html>
