<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">

    <title>Krish Nerkar | Projects</title>
<body>

    <div class="top">

        <div class="links">
            <a href="/">home</a>
            <span>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</span>
            <a href="/about">about</a>
            <span‏‏>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</span>
            <a href="/blog">blog</a>
        </div>

        <h1 class="heading">
            Projects
        </h1>

    </div>

    <div class="list">
        <div class="row">

            <div class="column">
                <h2 class="title"><a class = "title-link" rel="noopener noreferrer" target="_blank" href="https://botsiva.ml">Botsiva</a></h2>
                <p class="desc">
                Botsiva is a no-code tool to generate the code of highly functional and customisable discord,
                twitter and reddit bots by just a click of few buttons with a easy to use interactive dashboard.

                <br><br>

                It is aimed for both devs who want to make bots but dont have the time to learn a new framework and even
                for the people who can't code.
                </p>
            </div>

            <br>

            <div class="column">
                <a class = "center" rel="noopener noreferrer" target="_blank" href="https://botsiva.ml">
                    <img style = "border: 1px solid rgba(255, 255, 255, 0.308);" src="./botsiva-ss.png" class = "img"/>
                </a>
            </div>

        </div>
        <br><br><br>
        <br>

        <div class="row">

            <div class="column">
                <h2 class = "title">AI Lyrics Generator</h2>
                <p class="desc">
                    An gpt-2 powered algorithm which generates the lyrics of 
                    a song when you give it a prompt the the style of the artist
                    from which it takes inspiration from!

                    <br><br>

                    This gpt-2 model was fine-tuned on hundreds of songs with thousands of lines of lyrics different
                    artists
                </p>
            </div>

            <br>

            <div class="column">
                <iframe class = "img vid center" style="border: 1px solid rgba(255, 255, 255, 0.308);" src="./demo.mp4"></iframe>
            </div>

        </div>
    </div>
    
</body>
</html>