<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krish Nerkar | Projects</title>
</head>
<body>

    <div class="top">

        <div class="links">
            <a class = "blah" href="/">home</a>
            <span>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</span>
            <a href="/">about</a>
            <span‏‏>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</span>
            <a href="/">blog</a>
        </div>

        <h1 class="heading">
            Projects
        </h1>

    </div>

    <div class="list">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
            vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
            malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
            sem dolor ullamcorper lacus, vel tristique felis nunc in risus.
            Duis ex dolor, commodo vitae metus ac, egestas tincidunt turpis.
            Morbi leo quam, ornare molestie pellentesque interdum, euismod ut magna.
            Aliquam tincidunt orci vulputate interdum varius.
            
            In posuere cursus bibendum. Aliquam hendrerit magna turpis,
            eu ullamcorper ipsum tincidunt id. Vestibulum pulvinar pharetra leo et
            auctor. Cras eget lacinia tellus. Donec ut pretium nulla,
            porta dignissim lorem. In malesuada condimentum rutrum.
            Nunc finibus nibh nec nibh ornare finibus.
            Aenean a tortor sit amet metus aliquet tincidunt.
            Nulla facilisi. Vestibulum faucibus ipsum ipsum,
            ut gravida odio pellentesque sit amet.
            Aliquam facilisis, tortor in consectetur gravida, est diam feugiat arcu, non interdum leo velit et tellus. Etiam rutrum
            vehicula hendrerit. Nam suscipit, ligula eget dignissim cursus, urna lectus posuere erat, ut egestas odio sem
            sollicitudin neque. Donec eleifend egestas sapien, non finibus mauris dapibus ac. Donec sed metus elementum, gravida
            augue a, dignissim nisl.
            Sed elementum non sapien vitae hendrerit.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
sem dolor ullamcorper lacus, vel tristique felis nunc in risus.
Duis ex dolor, commodo vitae metus ac, egestas tincidunt turpis.
Morbi leo quam, ornare molestie pellentesque interdum, euismod ut magna.
Aliquam tincidunt orci vulputate interdum varius.

In posuere cursus bibendum. Aliquam hendrerit magna turpis,
eu ullamcorper ipsum tincidunt id. Vestibulum pulvinar pharetra leo et
auctor. Cras eget lacinia tellus. Donec ut pretium nulla,
porta dignissim lorem. In malesuada condimentum rutrum.
Nunc finibus nibh nec nibh ornare finibus.
Aenean a tortor sit amet metus aliquet tincidunt.
Nulla facilisi. Vestibulum faucibus ipsum ipsum,
ut gravida odio pellentesque sit amet.
Aliquam facilisis, tortor in consectetur gravida, est diam feugiat arcu, non interdum leo velit et tellus. Etiam rutrum
vehicula hendrerit. Nam suscipit, ligula eget dignissim cursus, urna lectus posuere erat, ut egestas odio sem
sollicitudin neque. Donec eleifend egestas sapien, non finibus mauris dapibus ac. Donec sed metus elementum, gravida
augue a, dignissim nisl.
Sed elementum non sapien vitae hendrerit.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis,
sem dolor ullamcorper lacus, vel tristique felis nunc in risus.
Duis ex dolor, commodo vitae metus ac, egestas tincidunt turpis.
Morbi leo quam, ornare molestie pellentesque interdum, euismod ut magna.
Aliquam tincidunt orci vulputate interdum varius.

In posuere cursus bibendum. Aliquam hendrerit magna turpis,
eu ullamcorper ipsum tincidunt id. Vestibulum pulvinar pharetra leo et
auctor. Cras eget lacinia tellus. Donec ut pretium nulla,
porta dignissim lorem. In malesuada condimentum rutrum.
Nunc finibus nibh nec nibh ornare finibus.
Aenean a tortor sit amet metus aliquet tincidunt.
Nulla facilisi. Vestibulum faucibus ipsum ipsum,
ut gravida odio pellentesque sit amet.
Aliquam facilisis, tortor in consectetur gravida, est diam feugiat arcu, non interdum leo velit et tellus. Etiam rutrum
vehicula hendrerit. Nam suscipit, ligula eget dignissim cursus, urna lectus posuere erat, ut egestas odio sem
sollicitudin neque. Donec eleifend egestas sapien, non finibus mauris dapibus ac. Donec sed metus elementum, gravida
augue a, dignissim nisl.
Sed elementum non sapien vitae hendrerit.

        </p>
    </div>
    
</body>
</html>