body {
  background-color: #010101;
  color: #e2f3f5;
  font-family: 'DM Sans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
}

.highlight {
  color: #ff4719;
}

h1 {
  font-size: 5.2em;
  font-weight: 700;
  letter-spacing: 0.04em;
  word-spacing: 0.1em;
  line-height: 1.2em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #d8d6d6;
  max-width: 70%;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  margin-bottom: 0;
}

.button {
  position: relative;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  font-family: 'DM Mono', monospace;
  color: #ffffff;
  color: #fff;
  font-size: 1.1em;
  border: none;
  background: none;
  width: 9em;
  height: auto;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 0.9vw;
  margin-top: 3em;
  border-color: #ff4719;
  border: solid #ff4719;
}

.button::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -100;
  width: auto;
  height: auto;
  padding: 1.2em;
  border-radius: 0.9vw;
}

.button:hover.button-start {
  color: #ffffff;
  background-color: #ff4719;
}

.button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-text {
  position: relative;
}

.button-last {
  margin-left: 1.2em;
}

.main {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.social {
  margin-top: 5em;
  background-color: transparent;
  border: none;
  fill: #ffffff77;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.social:hover {
  border: none;
  fill: #fff;
}

.header {
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #010101;
  padding-bottom: 0em;
}

.heading {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: inherit;
  color: #aeb4b4;
}

.links {
  margin-top: 5em;
}

a:hover {
  color: #ff4719;
}

.list {
  margin-top: 5em;
  margin-bottom: 10em;
}

.title {
  font-size: 1em;
  color: #ff4719;
}

.desc {
  font-size: 0.9em;
}

.title-link {
  font-size: 1em;
  color: #ff4719;
}

.title-link:hover {
  color: #ec6767;
}

.img {
  width: 70vw;
}

.about {
  font-size: 1.5em;
  max-width: 80%;
  margin-top: 3em;
  color: #ff4719;
  margin-bottom: 10em;
}

.about-links {
  font-size: 1em;
  color: #aeb4b4;
}

.about-links:hover {
  color: #fff;
}

.un-links {
  font-size: 1em;
  color: #ff4719;
}

.un-links:hover {
  color: #fff;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 0.8em;
  }
  .button {
    font-size: 0.6em;
    margin-bottom: 0;
  }
  svg {
    height: 1.5em;
    width: 1.5em;
  }
  .social {
    margin-top: 3em;
  }
  .about {
    font-size: 1em;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1em;
  }
  .button {
    font-size: 0.7em;
  }
  svg {
    height: 1.7em;
    width: 1.7em;
  }
  .social {
    margin-top: 3em;
  }
  .heading {
    font-size: 4.5em;
    margin-top: 1.3em;
  }
  .title {
    font-size: 2em;
  }
  .desc {
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 80%;
  }
  .img {
    width: 60vw;
    height: 35vw;
    margin-top: 1em;
  }
  .about {
    font-size: 1.3em;
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1.3em;
  }
  .button {
    font-size: 0.9em;
  }
  svg {
    height: 2em;
    width: 2em;
  }
  .social {
    margin-top: 4em;
  }
  .heading {
    font-size: 4.5em;
    margin-top: 1.3em;
  }
  .title {
    font-size: 2em;
  }
  .desc {
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 80%;
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .img {
    width: 40vw;
    height: 25vw;
    margin-top: 1em;
  }
  .about {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  a {
    font-size: 1.3em;
  }
  h1 {
    font-size: 5.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .button {
    font-size: 1.1em;
  }
  svg {
    height: 2.5em;
    width: 2.5em;
  }
  .heading {
    font-size: 4.5em;
    margin-top: 1.3em;
  }
  .title {
    font-size: 2em;
  }
  .desc {
    font-size: 1.3em;
    max-width: 80%;
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 10vw;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .img {
    width: 40vw;
    height: 25vw;
    margin-top: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */